/*h1 {
color: blue;
}
button{
background-color:rgb(0, 0, 225);
color: black;
}
body{
background-color: gray;
}
#one{
font-size: 20px;
line-height: 50px;
text-transform: capitalize;
}
#two{
font-family: 'Courier New', Courier, monospace;
}*/
div{
width: 100px;
height: 100px;
border: 10px solid brown;
text-align: left;
/*background-color: aqua;
border-width: 10px;
border-style: solid;
border-color: blueviolet;
border-radius: 50%;
padding-left: 25px;*/
padding: 1px 2px 3px 4px;
margin-top: 50px;
}
